html {
    min-height: 100%;
    position: relative;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    ackground-image: url(imagenes/basta.png);
    ackground-size: contain;
    ackground-position:top;
    ackground: linear-gradient(to bottom,white,silver,white,silver,white,white);
    background: linear-gradient(to bottom,white,#eee);
}

header {
    display: grid;
    background: linear-gradient(to bottom,white,rgb(0, 187, 255) );
    font-style: normal;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    
        
}

#header_section_logo {
    grid-column-start: 1;
    grid-column-end: 1;
}

#header_section_logo img{
    width:10%;
    height:100%;
}



#header_section_titulo {
    grid-column-start: 2;
    grid-column-end: 2;
}

#aside_mas_main {
    display: grid;
}

aside {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background: linear-gradient(rgb(111, 177, 111),white);
    margin-top: 50%;    
    margin-inline: 10%;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    border: 1px solid #ffffff40; 
}

aside background{
    filter: brightness(90%);
}


aside nav section {
    text-align: center;
    padding-inline: 10%;
    padding-top: 30%;
    
}

aside nav section img{
    height: 50px;
    width: 50px;
}


main {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 8%;
}

#main_section_graficoprincipal {
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 1px solid black;
    padding-bottom: 10%;

}

#main_section_graficoprincipal article h1{
    border-radius: 16px;
    box-shadow: 0 10px 30px #000;
    border: 2px solid #ffffff40;
    background: linear-gradient(white,aqua);
    width:fit-content;
    margin-inline:auto;
}

#main_section_graficoprincipal article img{
    border-radius: 16px;
    box-shadow: 0 10px 30px #000;
    border: 1px solid #ffffff40;
    height: 50%;
    width: 50%;

}

#main_section_graficossecundarios {
    display: grid;
    ackground: linear-gradient(rgb(235, 234, 234),rgba(175, 198, 218, 0.653));
    margin-bottom: 2%;
    margin-top: 2%;
    margin-inline: 10%;
    text-align: center;
    border-radius: 8px;
    

}

#main_section_graficossecundarios article img{
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    border: 1px solid #ffffff40;
    height: 150px;
    width: 150px;
}

#main_section_graficossecundarios article{
    margin-block: 20%;
}


#main_section_graficossecundarios_dolar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center ;
        
}

#main_section_graficossecundarios_plazofijo {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center ;
}

#main_section_graficossecundarios_fondoinversion {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center ;
}

#main_section_graficossecundarios_bolsas {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center ;
}

#main_section_graficossecundarios_metales {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center ;
        
}

#main_section_graficossecundarios_criptomonedas {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center ;
       
}

#main_section_graficossecundarios_granos {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center ;
    
}

#main_section_graficossecundarios_energia {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    justify-self: center ;
        
}

footer{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-block: 1%;
    background: linear-gradient(to bottom,rgb(0, 195, 255),white);
    font-size:small;
    margin-top: 10%;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
}
